@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
  .product-content
    padding: 0 0 0 30px


/* Medium Devices, Desktops */
@media only screen and (max-width : 1100px)
  .main-slide__content
    margin: 0 0 0 20px
    max-width: 400px

  .section-login__box
    max-width: 450px

  .login-item
    padding: 30px

  .old-price
    margin: 0 auto

  .product-photos
    width: 500px

  .product-content
    width: calc(100% - 500px)

  .section-account .ordering-content
    padding: 30px

@media only screen and (max-width : 992px)
  .main-slide
    padding: 40px 0 70px

  .advantages-box__icon
    width: 100px
    height: 100px
    padding: 25px

  .advantages
    margin: -50px 0 50px

  .advantages-box
    font-size: 14px

  .search
    max-width: 313px

  .product-photos
    width: 400px

  .product-content
    width: calc(100% - 400px)

  .photo-slider-preview .slick-next
    right: 0

  .photo-slider-preview .slick-prev
    left: 0

  .ordering-content
    padding: 0 30px 0 0

/* Small Devices, Tablets */
@media only screen and (max-width : 930px)
  .section-login__box
    max-width: none
    margin: 0 0 30px
    &:last-child
      margin: 0

  .section-login__box-info
    max-width: none
    .box-text
      margin: 0 0 20px
      p
        margin: 0 0 10px

  .product-table-info__content
    padding: 0 0 0 20px

  .attention-info
    width: 100%
    margin: 10px 0 0

@media only screen and (max-width : 900px)
  .sidebar, .links-text, .header-top
    display: none


  .links-icon
    margin: 0

  .content
    width: 100%
    padding: 0

  .btn-burger
    display: flex



  .mb-100
    margin: 0 0 60px

  .main-slide__img
    position: relative
    height: auto
    max-width: 100%
    width: 100%

  .main-slide
    padding: 30px 0 0
    .btn
      margin: 30px auto 0

  .main-slide__content
    max-width: none
    text-align: center
    margin: 0
    padding: 0 15px

  .main-slide__title
    max-width: none
    font-size: 40px
    line-height: normal
    padding: 0 0 20px
    margin: 0 auto 20px
    &:before
      left: 50%
      transform: translate(-50%,0)

  .card-product
    max-width: 220px

  .card-product__img
    height: 230px

  .contacts-box
    padding: 0 18px

  .product-content
    width: 100%
    padding: 0
    margin: 30px 0 0
    .line-wrapper
      padding: 0 0 20px
      margin: 0 0 20px

  .product-photos
    margin: 0 auto

  .title-mobile
    display: block
    width: 100%
    margin: 0 0 20px

  .product-content
    .name-product, .info-product-list
      display: none


@media only screen and (max-width : 830px)
  .td:first-child, .th:first-child
    width: 100%
    padding: 0
    margin: 0 0 10px

  .tr
    flex-wrap: wrap

  .thead
    display: none

  .tbody .tr
    padding: 20px 0

  .td:nth-child(2), .th:nth-child(2), .td:nth-child(4), .th:nth-child(4)
    width: 20%
    text-align: center

  .td:nth-child(3), .th:nth-child(3)
    width: 50%

  .quantity-wrapper
    justify-content: center

@media only screen and (max-width : 768px)
  .advantages-box
    margin: 0 auto 20px
    h3
      margin: 10px 0
      font-size: 18px

  .advantages-box__icon
    width: 80px
    height: 80px
    padding: 20px

  .advantages
    margin: 30px auto

  .logo
    max-width: 58px

  .header-center
    padding: 13px 0 9px

  .pagination
    justify-content: center

  .your-basket
    width: 100%

  .ordering-content
    width: 100%
    padding: 0
    margin: 0 0 30px

  .section-account .ordering-content
    width: 100%

  .left-box-account
    width: 100%

/* Extra Small Devices, Phones */
@media only screen and (max-width : 660px)
  .basket-wrapper
    margin: 0 0 0 30px

  .tooltip-wrapper
    display: none

  header
    .search
      display: none

  .logo
    margin: 0 auto 0 0

  .mobile-menu
    min-height: auto
    .search
      display: block
      margin: 20px auto 0
      width: calc(100% - 32px)

  .contacts-box
    flex: auto
    width: 100%
    border: none
    padding: 0 30px
    margin: 0 0 40px
    &:last-child
      margin: 0

  .contacts-wrapper
    padding: 39px 0


@media only screen and (max-width : 575px)
  .advantages-box
    max-width: 100%

  footer
    padding: 65px 0 44px
    .container
      flex-direction: column
      align-items: center

  .menu-footer
    margin: 37px auto 0

  .col-3
    width: 50%

  h1
    text-align: center
    font-size: 26px
    margin: 0 auto 20px

  .section-home
    padding: 65px 0 60px
    margin: 0 0 60px

  .breadcrumbs
    justify-content: center
    li
      display: none
      &:last-child
        display: block
        span
          &:before
            content: '\f104'
            display: inline-block
            margin: 0 5px 0 0
            font-weight: 900
            font-family: 'Font Awesome 5 Free'

  .thanks-box
    padding: 30px 20px
    p
      text-align: center

@media only screen and (max-width : 480px)
  .col-3
    width: 100%
    .card-product
      max-width: none

  .pagination
    margin: 30px 0 0
    li
      &:first-child, &:last-child
        width: 50%
        order: 1
        margin: 11px 0 0
      &:first-child
        a
          margin: 0 19px 0 auto

  .form .button-group
    flex-direction: column
    align-items: center
    .btn
      margin: 0 auto 10px

  .product-content .line-wrapper
    flex-direction: column
    align-items: center

    .ui-selectmenu-button.ui-button
      max-width: 100%
      margin: 0 auto 10px

  .product-photos
    width: 100%

  .photo-slider-max__box
    height: 300px

  .photo-slider-preview__item
    height: 80px

/* Custom, iPhone Retina */
@media only screen and (max-width : 420px)
  .td:nth-child(2), .th:nth-child(2)
    width: 100%

  .td:nth-child(4), .th:nth-child(4)
    width: 50%

  .td
    &:last-child
      width: 20%
      margin: 0 0 0 auto

  .td:nth-child(3), .th:nth-child(3)
    width: 100%
    margin: 10px 0

  .your-basket__box-line-total, .your-basket__box-line
    padding: 20px

  .ordering-content .btn
    max-width: none
    margin: 10px auto 0

  .section-account .ordering-content
    padding: 30px 20px

